html {
    background-color: black;
}

body {
    max-width: 100%;
    margin: auto;
    color: white;
}

img {
    max-width: 100%;
    margin: auto;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    display: block;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    max-width: 60%;
    margin: auto;
    font-size: 1.3em;
    font-family: cabin-condensed, sans-serif;
}

hr {
    max-width: 60%;
    color: grey;
}

button {
    display: block;
    margin: auto;
    width: 15%;
    cursor: pointer;
    line-height: 300%;
    font-size: 1.1em;
    background-color: black;
    color: snow;
}

button:hover {
    color: black;
    background-color: snow;
}

.yt-vid {
    margin: auto;
    text-align: center;
    max-width: 75%;
}

#comic {
    width: 60%;
    margin: auto;
    display: block;
    height: 600px;
}

#yt-vid {
    display: block;
    margin: auto;
}

.team {
    text-align: center;
}


footer {
    text-align: center;
    color: gray;
}

a {
    text-decoration: none;
    color: white;
    color: grey;
}