html {
    background-color: black;
}

body {
    text-align: center;
}

img {
    max-width: 100%;
    margin: auto;
}

h1 {
    color: white;
}

p {
    color: white;
    max-width: 60%;
    margin: auto;
    font-size: 1.3em;
}

hr {
    max-width: 60%;
}